__pycache__/
data/
GPyOpt_Fork/
CNOT_TEST_2/
.ipynb_checkpoints/
.vs/
.vscode/
alt_fom_expansion.py
alt_fom_expansion_different_unitaries.py
BO_submission_batch.pbs
fidelity_estimator.py
plotter_params.py
probability_distributions.py
probability_distributions_cluster.py
real_C_CNOT_bayesian_optimisation.py
real_CCNOT_bayesian_optimisation.py
real_CNOT_bayesian_optimisation.py
real_toffoli_bayesian_optimisation.py
testing_ordering_prob_dists.py
3q_CNOT_BO.py
bayesian_optimisation.py
circuit_utils_cluster.py
testing_batch_runner.py
fom_v_fidelity.py
real_CNOT_bayesian_optimisation_meas_err.py
ising_bayesian_optimisation.py
real_CNOT_testing_drift.py
heisenberg_ED.py
ising_bayesian_optimisation_trott_target.py
heisenberg_bayesian_optimisation_trott_target.py
ising_bayesian_optimisation_trott_target_u3.py
BO_env.yml
BO_parallel_runner.py
CNOT_testing_fidelity.py
CNOT_testing_fidelity2.py
estimating_fidelity_fom_sim.py
estimating_fidelity_fom.py
estimating_fidelity_fom2.py
generate_all_F.py
generate_all_FOM.py
ising_ED.py
messing_around_probability_dist.py
noise_model_testing.py
plotting_approximations.py
plotting_expansions.py
real_C_CNOT_bayesian_optimisation_2.py
real_CNOT_bayesian_optimisation_noise_model.py
real_CNOT_bayesian_optimisation_rochester.py
real_CNOT_bayesian_optimisation_rochester_old.py
statistics_from_device.py
subsampling_dict_F.py
subsampling_dict_FOM.py
testing_batch_runner_copy.py
testing_flammia_FOM.py
plotting_expansions.ipynb
nmr_optimisation_sim.py